<!DOCTYPE html>
<html lang="en">
<head>
    {% include "header.twig" %}
</head>
<body>
    <div class="intro">
        <h2>This is a simple exercise</h2>
        <h3>for CRUD</h3>
        <h4>and REDIRECT pages!</h4>
    </div>

    {% block content %} {% endblock %}

    <div class="footer">
        <h5> &reg; ZiemoAndrzejewski 2018 </h5>
    </div>
</body>
</html>